.dse__about {
  .about__page__container {
    .banner__image {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 100%;
      z-index: -1;
    }
    .about__page__body {
      background-color: #fff;
      padding-top: 20px;
      .top__section {
        padding: 0 60px 50px 60px;
        border-bottom: 2px solid #909090;
      }
    }
  }
}
