// Add you general and shared styles here
@font-face {
  font-family: "NotoSans-Regular";
  src: url("../assets/fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
}
body {
  font-family: "NotoSans-Regular", sans-serif;
  line-height: 1.7;
}
