// Add you general and shared styles here
@font-face {
  font-family: "NotoSans-Regular";
  src: url("../assets/fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Boldest";
  src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Medium";
  src: url("../assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Thin";
  src: url("../assets/fonts/Inter/Inter-Thin.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.7;
}
::selection {
  color: #fff;
  background: #7251bb;
}
.animate__btn {
  border-radius: 0;
  background-color: #7251bb;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
}
.animate__btn:before,
.animate__btn:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  height: 20px;
  position: absolute;
  width: 20px;
}
.animate__btn:before {
  border-top: 3px solid #7251bb;
  border-left: 3px solid #7251bb;
  left: -6px;
  top: -6px;
}
.animate__btn:after {
  border-bottom: 3px solid #7251bb;
  border-right: 3px solid #7251bb;
  bottom: -6px;
  right: -6px;
}
.animate__btn:hover {
  background-color: #7251bb;
}
.animate__btn:hover:before,
.animate__btn:hover:after {
  height: calc(100% + 18px);
  width: calc(100% + 18px);
}

h1 {
  text-align: center;
  font-family: "Inter Boldest";
  letter-spacing: 0.025em;
  color: #243e63;
  font-size: 44px;
  margin: 20px 0;
  span {
    color: $primaryColor;
  }
}
h6 {
  text-align: center;
  color: $primaryColor;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0;
}
h3 {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
